#slider {
    width:100%;
    background: blue;
    position:relative;
    overflow:hidden;
}
#mask-gallery {
    overflow:hidden;
}
#gallery {
    list-style:none;
    margin:0;
    padding:0;
    z-index:0;
    width:900px;
    overflow:hidden;
}
#gallery li {
    float:left;
}
#gallery li img{
    width: 100%;
}
#mask-excerpt {
    position:absolute;
    top:0;
    left:0;
    z-index:500;
    text-align: center;
    width:300px;
    overflow:hidden;
}

#excerpt {
    filter:alpha(opacity=60);
    -moz-opacity:0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    list-style:none;
    margin:0;
    padding:0;
    z-index:10;
    position:absolute;
    top:0;
    left:0;
    width:300px;
    background-color:#000;
    overflow:hidden;
    font-family:arial;
    font-size:10px;
    color:#fff;
}
#excerpt li {
    padding:5px;
}
.commentary{
    padding-left: 5px;
    padding-right: 5px;
}
.commentary h3{
    color: white;
}
.commentary p{
    color: white;
    font-size: 16px;
}
.clear {
    clear:both;
}